*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    background: url(image/background_login.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.soc, .soh {
    background: rgba(220, 53, 69, 0.85);
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    margin: 20px;
    display: inline-block;
}

.soc:hover, .soh:hover {
    background-color: #ffffffd9;
    color: rgba(220, 53, 69, 0.85);
    transform: scale(1.05);
}

.socTable, .sohTable {
    margin: 70px 0 0 200px;
    font-size: 20px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: rgba(220, 53, 69, 0.95);
    color: #fff;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
}

td {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.2);
}

td:last-child a {
    color: #ffffff;
    background: rgba(220, 53, 69, 0.9);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

td:last-child a:hover {
    background: #fff;
    color: rgba(220, 53, 69, 0.9);
}

a {
    text-decoration: none;
    font-weight: 600;
}

.displayTable{
display: none;
}

.changeBtn{
    transition: all ease 1s;
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.changeBtn:hover{
    background-color: rgba(255, 255, 255, 85%)!important;
    color: rgba(220, 53, 69, 0.9) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.in4Btn{
    transition: all ease 1s;
    position: absolute;
    top: 30px;
    left: 100px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.in4Btn:hover{
    background-color: rgba(255, 255, 255, 85%)!important;
    color: rgba(220, 53, 69, 0.9) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.activeBtn {
    background: rgba(255, 255, 255, 85%);
    color: rgba(220, 53, 69); 
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
}

.custom-danger {
    background-color: rgba(220, 53, 69, 0.8);
    color: white;
    border: none;
}

.text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.title {
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    padding-left: 75px;
    font-weight: bold;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);
}

.title::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 270px;
    right: 200px;
    height: 80px;
    background: rgba(0, 0, 0, 0.8); /* nền tối mờ */
    filter: blur(4px);
    border-radius: 12px;
    z-index: -1;
}

.modal-body> button{
    width: 20%;
    padding: 5px;
    border: 0;
    background-color: rgba(220, 53, 69, 0.8);
    border-radius: 10px;
    color: white;
    transition: all 0.1s ease;
}

.modal-body> button:hover{
    color: bisque;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}